        /*reset 사이드 목록
        
        https://blog.naver.com/qkrcodus66/222293533273*/
        *{ margin: 0; padding: 0; }
        ul,li{list-style: none;}
        a{text-decoration: none; color: inherit;}
        /*공통클래스*/
        .after::after{
            content: ''; display: block; clear: both;
        }
        
          input{
            display: none;
        }
        .side_wrap .sub_menu{
            display: none;
        }
 		.side_wrap input:checked + label::before{
            background-image: url(./img/menu_tree_icon_minus.png);
        }
        .side_wrap input:checked ~ *{
            display: block;
        }
        /*
        body{
            color:#666;
        }
        .menu_wrap{
            padding: 30px;
            background-color: #f1f1f1;
            display: inline-block;
        }
        .menu_wrap h2{
            margin-bottom: 20px;
            color:#111;
        }
        .menu_wrap label{
            margin: 20px 0;
            display: block;
            font-weight: 700;
            color:#333;
            line-height: 19px;
        }
        .menu_wrap ul li{
            line-height: 28px;
            margin-left: 20px;
        }*/
      

